<%- include('partials/header') %>
<section class="full-body padding-top">
  <div class="container full-display">
    <div class="color-card padding-top-85 margin-center text-center">
    <h2 class="fs-25">Email Verification</h2>
  <p>Your email has been successfully verified!</p>
</div>
</div>
</section>
<%- include('partials/footer') %>