
<footer>
    <footer>
        <div class="container text-center">
          <div class="flex justify-between align-center padding-10">
            <div class="footer-box">
              <p>&copy; 2023 SmartSpend. All rights reserved.</p>
              <p>Designed and developed by SmartSpend Pvt Ltd</p>
            </div>
            <div>
              <ul>
                <li><a class="links" href="#">Terms of Service</a></li>
                <li><a class="links" href="#">Privacy Policy</a></li>
                <li><a class="links" href="#">Contact Us</a></li>
              </ul>
            </div>
            <div>
              <div>
                <p>Email: info@smartspend.com</p>
                <p>Phone: +1234567890</p>
                <p>Address: 121 1st Street, City, Country</p>
              </div>
            </div>
          </div>
        </div>
  </footer>
</body>
</html>